<div class="sect">
    <h2>Equipment Database</h2>
    <p>Values available for use in Link Design</p>
  </div>
  <div class="sect">
    
   <br>
     <a mat-raised-button href="fibres">Fibres Database</a> <br><br> <p>Parameters associated with fibre, such as dispersion, attentuation, etc</p>
    
    <p>______________________________________________________________________________________________________________________________________<p>
    <a mat-raised-button href="olts">OLTs Database</a> <br><br> <p>Parameters associated with the OPTICAL LINE TERMINAL, such as the upstream and downstream rate of the OLT, etc</p>
    <p>______________________________________________________________________________________________________________________________________<p></p>
    <a mat-raised-button href="onus">ONUs Database</a> <br><br> <p>Parameters associated with the OPTICAL NETWORK UNIT, such as its Standard Specification, Power Consumtion, etc,</p>
    <p>______________________________________________________________________________________________________________________________________<p></p>

    <a mat-raised-button href="splitters">Splitters Database</a> <br><br> <p>Parameters associated with OPTICAL SPLITTERS, such as Wavelengths, Insersion Loss, Split Ratio, etc,</p>
    <br>
    




</div>