<mat-toolbar class="menu" color="primary">
    <span>Fibre Optic Tool</span>
    <span class="spacer"></span>


    <div>
        <a mat-stroked-button href="">Home</a>
        <a mat-stroked-button href="standards">Standards</a>
        <a mat-stroked-button href="equipment">Equipment</a>
        <a mat-stroked-button href="pondesign">PON-Design</a> 
        <a mat-stroked-button href="subdesigns">SUB-Designs</a>
        <a mat-stroked-button href="metrodesigns">Metro-Designs</a>




    </div>